## Get Deposit History

> Request

```http
GET <%= config[:version] %>/history/deposit HTTP/1.1
Host: <%= config[:host] %>
Authorization: Bearer {access_token}
```

```shell
curl --location '<%= config[:base_url] %>/history/deposit' \
--header 'Authorization: Bearer {access_token}'
```

```javascript
const axios = require('axios');

let config = {
  method: 'get',
  maxBodyLength: Infinity,
  url: '<%= config[:base_url] %>/auth/deposit',
  headers: { 
    'Authorization': 'Bearer {access_token}'
  }
};

axios.request(config)
.then((response) => {
  console.log(JSON.stringify(response.data));
})
.catch((error) => {
  console.log(error);
});
```

> Response

```json
[
    {
        "fromAddress": "0x21515DF0aAC1a266B944a4b13E5228Ea5FE45719",
        "toAddress": "0xaFE2c5aD26d285Ff65f8E47D6a982e98C71EBf4B",
        "amount": "10",
        "createdAt": "2023-05-12T07:28:11.124Z"
    },
    {
        "fromAddress": "0x21515DF0aAC1a266B944a4b13E5228Ea5FE45719",
        "toAddress": "0xaFE2c5aD26d285Ff65f8E47D6a982e98C71EBf4B",
        "amount": "10",
        "createdAt": "2023-05-12T07:28:56.756Z"
    },
    {
        "fromAddress": "0x21515DF0aAC1a266B944a4b13E5228Ea5FE45719",
        "toAddress": "0xaFE2c5aD26d285Ff65f8E47D6a982e98C71EBf4B",
        "amount": "10",
        "createdAt": "2023-05-12T07:33:16.169Z"
    },
    {
        "fromAddress": "0x21515DF0aAC1a266B944a4b13E5228Ea5FE45719",
        "toAddress": "0xaFE2c5aD26d285Ff65f8E47D6a982e98C71EBf4B",
        "amount": "10",
        "createdAt": "2023-05-12T08:26:20.584Z"
    }
]
```

사용자의 전체 내부 입금 내역을 조회합니다.

<aside class="notice">
사용자 내부 입금 내역 조회는 <a href="#create-wallet">지갑 생성</a>을 진행한 사용자에 한해 사용 가능합니다.
</aside>

### HTTP Request

`GET <%= config[:version] %>/history/deposit`

### Scopes

- `user:account`

### Response Code

| Code | Description |
| ---- | ----------- |
| 200  | OK          |

### Response Data

| Parameter | Type     | Description |
| --------- | -------- | ----------- |
| fromAddress | `string` | 출금 주소 |
| toAddress | `string` | 입금 주소 |
| amount | `string` | 입금 수량 |
| createdAt | `string` | 트랜잭션 발생 시간 |
